build
build32
binaries
obj
bin
App_Packages
.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
logs
TestResults
TestResult.xml
results
CommonAssemblyInfo.cs
lib/sqlite/System.Data.SQLite.dll
*.orig
Samples/DataBus/storage
packages
PrecompiledWeb
core-only
Release
Artifacts
LogFiles
csx
*.ncrunchproject
run-git.cmd
*.ncrunchsolution
_NCrunch_NServiceBus/*
