jQuery
log4net
Microsoft.AspNet.Mvc
Microsoft.AspNet.Razor
Microsoft.AspNet.SignalR
Microsoft.AspNet.SignalR.Core
Microsoft.AspNet.SignalR.JS
Microsoft.AspNet.SignalR.Owin
Microsoft.AspNet.SignalR.SystemWeb
Microsoft.AspNet.WebPages
Microsoft.Owin.Host.SystemWeb
Microsoft.Web.Infrastructure
Newtonsoft.Json
NServiceBus
NServiceBus.Interfaces
Owin
